.canvas {
	margin-left:2%;
}

.canvas canvas {
	float: left;
    border: 3px solid gray;
    background-color: silver;
}

body {
    background-color: white;
}
body h1{
	font-family: "century gothic", serif;
	text-align:center;
}

#P_serveurs{
	float:left;
	width:30%;
	height:15%;
	padding-top:7px;
	overflow:scroll-y;
}

#serveurs{
	width:80%;
}

#P_users{
	float:left;
	width:25%;
	height:15%;
	padding:10px;
	overflow:scroll-y;
}

#P_conversation{
	float:left;
	width:25%;
	height:15%;
	overflow:scroll-y;
	padding:5px;
	border-left:1px solid black;
	margin-left:10px;
}

#conversation{
	display:block;
	height:320px;
	overflow-y:auto;
}

#data{
	width:80%;
}

div#chat {
    width: 1100px;
    border: 1px solid black;
    margin: auto;
    height: 300px;
}

#chat #messages {
    height: 90%;
    border: 1px solid black;
    overflow-y: auto;
    text-align: center;
}

#chat #input_texte {
    height: 10%;
    border: 1px solid black;
    text-align: right;
}

#chat #input_texte #texte_ecrit {
    width: 89%;
}

#chat #input_texte #envoyer {
    width: 10%;
}

#LienAccueil{
	display:none;
}

#LienServeurs{
	display:none;
}