.canvas {
    text-align: center;
    margin-top: 50px;
}

.canvas canvas {
    border: 2px solid black;
    background-color: black;
}

body {
    background-color: grey;
}

/* Gestion du chat */
div#chat {
    width: 1100px;
    border: 1px solid black;
    margin: auto;
    height: 300px;
}

#chat #messages {
    height: 90%;
    border: 1px solid black;
    overflow-y: auto;
    text-align: center;
}

#chat #input_texte {
    height: 10%;
    border: 1px solid black;
    text-align: right;
}

#chat #input_texte #texte_ecrit {
    width: 89%;
}

#chat #input_texte #envoyer {
    width: 10%;
}

/* Gestion du loading */
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}

#loading #img_loading {
    margin-top: 350px;
    width:  100px;
}

#loading #texte_loading {
    font-size: 22px;
    font-family: monospace;
}